@model StockManagement.Models.ViewModels.UnitAddModel;

<div class="bg-secondary bg-opacity-10">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center p-2">
            <div>
                <h4 class="m-0">Add Unit</h4>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form method="post">
        @* <div class="mb-3"> *@
        @*     <label class="form-label" for="id">ID</label> *@
        @*     <input class="form-control" asp-for="Id" type="text" id="id" /> *@
        @* </div> *@
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" asp-for="Name" type="text" id="name" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="note">Note</label>
            <textarea class="form-control" asp-for="Note" id="note"></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary me-3">Save</button>
            <a asp-area="" asp-controller="Unit" 
               asp-action="List" 
               class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>