@{
    ViewData["Title"] = "Home Page";
}
<style>
    /*body {background-color: powderblue;}
    h1   {color: blue;}
    p    {color: red;}*/
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to Stock Management</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>